@model ExpertManagmentSystem.Models.EconomyModels.Eco_ProsecutorAppeals

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Eco_ProsecutorAppeals</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileOpeningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileOpeningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProsecutorNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProsecutorNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourtNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourtNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Respondant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Respondant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cr_Crime_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cr_Crime_Type.Cr_Crime_TypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourtDecission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourtDecission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpertName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpertName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eco_GeneralCourtDecission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eco_GeneralCourtDecission.Eco_GeneralCourtDecissionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaleApplicant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaleApplicant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FemaleApplicant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FemaleApplicant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppealStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppealStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FederalBreakingRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FederalBreakingRequest)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Eco_ProsecutorAppealsId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
