@model ExpertManagmentSystem.Models.CrimeModels.Cr_Decided_Judicial_and_Prosecuter

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Cr_Decided_Judicial_and_Prosecuter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProsocuterNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProsocuterNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Court_No)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Court_No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Respondant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Respondant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrimeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrimeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cr_ProsecutorComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cr_ProsecutorComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Other)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Other)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhoLawyeCommented)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhoLawyeCommented)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighCourtDecission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighCourtDecission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherCourtDecition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherCourtDecition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhoJudgeCommentedOnDecision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhoJudgeCommentedOnDecision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfFemaleAppellants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfFemaleAppellants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfMaleAppellants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfMaleAppellants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileEndResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileEndResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FederalBreakingRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FederalBreakingRequest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cr_Crime_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cr_Crime_Type.Cr_Crime_TypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectrorsDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectrorsDepartment.SectrorsDepartmentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cr_Decided_Judicial_and_ProsecuterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
