@model ExpertManagmentSystem.Models.CrimeModels.AllDepartmentWarrantyModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AllDepartmentWarrantyModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeninigDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeninigDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcsecuterNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcsecuterNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliceRecordNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliceRecordNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourtNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourtNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhereItCameFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhereItCameFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfDirectedToProsecuter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfDirectedToProsecuter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfDoneAndReturned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfDoneAndReturned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cr_ProsecutorComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cr_ProsecutorComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cr_Crime_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cr_Crime_Type.Cr_Crime_TypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectrorsDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectrorsDepartment.SectrorsDepartmentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AllDepartmentWarrantyModelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
