@using ExpertManagmentSystem.Models.CivilCaseModels
@model IEnumerable<ExpertManagmentSystem.Models.CivilCaseModels.CCLegaladvices>



<div class="card">
    <div class="card-header">
        <h3 class="card-title">የህግ ምክር አገልግሎት ዝርዝር ማውጫ</h3>
        <button type="button" class="btn btn-success float-right CCLegaladices" id="CCLegaladices" data-toggle="modal" data-target="#addCCLegaladicesmodals"> <i class="fa fa-plus"></i> አዲስ ጨምር</button>
        @* <a asp-action="Create" class="btn btn-success float-right btn-circle  text-light btn-sm">አዲስ ቢሮ </a> *@
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LadFileNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ladvicerequester)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LadDoariv)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LadTypes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LadAmountBirr)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LadAmountKarie)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LadAddressZone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LadAddressWoreda)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LadExpertName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LadDaos)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LadDoare)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LadTimeTaken)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LadPDecisoion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LadAssignto)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LadFileNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ladvicerequester)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LadDoariv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LadTypes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LadAmountBirr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LadAmountKarie)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LadAddressZone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LadAddressWoreda)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LadExpertName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LadDaos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LadDoare)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LadTimeTaken)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LadPDecisoion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LadAssignto)
                        </td>
                        <td>
                           @*  <a asp-action="Edit" asp-route-id="@item.CCLegaladvicesId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.CCLegaladvicesId">Details</a> | *@
                            <a asp-action="Delete" asp-route-id="@item.CCLegaladvicesId" title="ሰረዝ">  <i class="fa fa-trash" style="color:red;"></i>  </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_CcLegaladCreateModalPartial", new CCLegaladvices())

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
