@model IEnumerable<ExpertManagmentSystem.Models.EconomyModels.Eco_directChargeOpening>

@{
    ViewData["Title"] = "Index";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color:#123456;color:white;">
                        <h5 class="card-title"> ቀጥታ ክስ መክፈቻ መዝገብ  </h5>
                        <a asp-action="Cr_Create" class="btn btn-success float-right" style="color:white;"> አዲስ ጨምር </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OpeningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoliceNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProsocuterNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourtNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefendantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefendantGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Woreda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdmissionExpert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdmissitionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cr_Crime_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectrorsDepartment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoliceNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProsocuterNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourtNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefendantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefendantGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Woreda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmissionExpert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmissitionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cr_Crime_Type.Cr_Crime_TypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectrorsDepartment.SectrorsDepartmentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Eco_directChargeOpeningId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Eco_directChargeOpeningId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Eco_directChargeOpeningId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>