@model ExpertManagmentSystem.Models.Corruption.CO_ProsecutorAppealOrBreakDecision

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CO_ProsecutorAppealOrBreakDecision</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CO_ProsecutorAppealOrBreakId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CO_ProsecutorAppealOrBreakId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourtDecision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourtDecision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpertOpinion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpertOpinion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Various)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Various)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewExisting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewExisting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WinnerLoser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WinnerLoser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FederalRequested)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FederalRequested)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectrorsDepartmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectrorsDepartmentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CO_ProsecutorAppealOrBreakDecisionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
