@model IEnumerable<ExpertManagmentSystem.Models.Corruption.CO_ProsecutorAppealOrBreakDecision>

@{
    ViewData["Title"] = "Index";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color:#123456;color:white;">
                        <h5 class="card-title">ውሳኔ ያገኙ የዐቃቤ ህግ ይግባኝ መዝገብ  </h5>
                        <a asp-action="Create" class="btn btn-success float-right" style="color:white;"> አዲስ ጨምር </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example33" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CO_ProsecutorAppealOrBreakId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CourtDecision)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ExpertOpinion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Various)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NewExisting)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.WinnerLoser)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FederalRequested)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SectrorsDepartmentId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CO_ProsecutorAppealOrBreak)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                        @foreach (var item in Model) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CO_ProsecutorAppealOrBreakId)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.CourtDecision)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ExpertOpinion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Various)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NewExisting)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WinnerLoser)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FederalRequested)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CO_ProsecutorAppealOrBreak.SectrorsDepartment.DepartmentName)
                                    </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CO_ProsecutorAppealOrBreak.CO_ProsecutorAppealOrBreakId)
                                        </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.CO_ProsecutorAppealOrBreakDecisionId">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.CO_ProsecutorAppealOrBreakDecisionId">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.CO_ProsecutorAppealOrBreakDecisionId">Delete</a>
                                    </td>
                                </tr>
                        }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
