@model ExpertManagmentSystem.Models.CivilCaseModels.CCdlt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CCdlt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DltFileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DltFileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DltRecorNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DltRecorNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DltApplicant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DltApplicant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DltResponder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DltResponder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DltGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DltGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DltAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DltAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DltSupportType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DltSupportType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DltDoo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DltDoo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DlttypesofIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DlttypesofIssue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DltAmountBirr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DltAmountBirr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DltAmountKarie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DltAmountKarie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DltAddressZone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DltAddressZone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DltAddressWoreda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DltAddressWoreda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DltExpertName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DltExpertName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DltDoAss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DltDoAss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DltDoRet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DltDoRet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DltLOS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DltLOS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCDltDecissionTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCDltDecissionTypes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DltAssignto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DltAssignto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CCdltId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
