@model ExpertManagmentSystem.Models.Corruption.CO_Warranty

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CO_Warranty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProsecotorNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProsecotorNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarrantyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarrantyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourtNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourtNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectrorsDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectrorsDepartment.SectrorsDepartmentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CO_WarrantyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
