@model IEnumerable<ExpertManagmentSystem.Models.Corruption.CO_Warranty>

@{

    ViewData["Title"] = "Index";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color:#123456;color:white;">
                        <h5 class="card-title">የዋስትና መዝገብ  </h5>
                        <a asp-action="Create" class="btn btn-success float-right" style="color:white;"> አዲስ ጨምር </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProsecotorNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ApplicantName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Gender)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Amount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.WarrantyDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CourtNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Remark)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SectrorsDepartment)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                             <tbody>
                                 @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProsecotorNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicantName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Gender)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Amount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WarrantyDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CourtNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Remark)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SectrorsDepartment.DepartmentName)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.CO_WarrantyId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.CO_WarrantyId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.CO_WarrantyId">Delete</a>
                                        </td>
                                    </tr>
                                 }
                             </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

