@model IEnumerable<ExpertManagmentSystem.Models.CivilCaseModels.CCFreeLegServiceFollowup>
@{
    ViewData["Title"] = "CCFreeLegalServiceFollowupIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title"> ነፃ የህግ ድጋፍ ቀጥታ ክስ ተከሳሽ ፍርድ ቤት መከታተያ ዝርዝር </h3>
        <a asp-action="Index" class="btn btn-success float-right btn-circle  text-light btn-sm"> ወደ ዋናው ተመለስ </a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Doc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Doa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AppointmentType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DoD)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DecisionStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Decisionmadeby)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CCFreelServices)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AppointmentType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DoD)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DecisionStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Decisionmadeby)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CCFreelServices.WoredaSectors.WoredaSectorsName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.FreeLegServiceFollowupId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.FreeLegServiceFollowupId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.FreeLegServiceFollowupId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
