@using ExpertManagmentSystem.Enums
@using ExpertManagmentSystem.Models.CivilCaseModels
@model IEnumerable<ExpertManagmentSystem.Models.CivilCaseModels.CCFreelServices>

@{
    ViewData["Title"] = "Index";
}
<div class="card card-primary card-outline">
    <div class="card-header">
        <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link Freelaaos active" id="custom-content-below-home-tab" data-toggle="pill" href="#customcontent-below-home" role="tab" aria-controls="custom-content-below-home" aria-selected="true">ነፃ የህግ ድጋፍ ይግባኝ አመልካች</a>
            </li>
            <li class="nav-item">
                <a class="nav-link Freelaars" id="custom-content-below-profile-tab" data-toggle="pill" href="#custom-content-below-profile" role="tab" aria-controls="custom-content-below-profile" aria-selected="false">ነፃ የህግ ድጋፍ ይግባኝ ተጠሪ</a>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-success float-right Freelaaos" id="Freelaaos" data-toggle="modal" data-target="#addFreeLaaosmodals"> <i class="fa fa-plus"></i> አዲስ ጨምር</button>
                <button type="button" class="btn btn-primary float-right Freelaars" style="display:none;" id="Freelaars" data-toggle="modal" data-target="#addFreeLaarsmodals"> <i class="fa fa-plus"></i> አዲስ ጨምር</button>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="custom-content-below-tabContent">
            <div class="tab-pane fade show active" id="customcontent-below-home" role="tabpanel" aria-labelledby="custom-content-below-home-tab">
                <table class="table  table-bordered table-striped" id="example1">
                    <thead>
                        <tr>
                            <th>
                                የዐ/ህ/መ/ቁጥር
                            </th>
                            <th>
                                የፍ/ቤት/መ/ቁጥር
                            </th>
                            <th>
                                ይግባኝ ባይ
                            </th>
                            <th>
                                መልስ ሰጪ
                            </th>
                            <th>
                                ፆታ
                            </th>
                            <th>
                                የዕድሜ ምደብ
                            </th>
                            <th>
                                የድጋፍ አይነት
                            </th>
                            <th>
                                በዐ.ህ.የተ.ቀን
                            </th>
                            <th>
                                የጉዳይ አይነት
                            </th>
                            <th>
                                የገንዘብ መጠን
                            </th>
                            <th>
                                ዞን
                            </th>
                            <th>
                                ወረዳ
                            </th>
                            <th>
                                የተመራለት ባለሙያ
                            </th>
                            <th>
                                የተመራበት ቀን
                            </th>
                            <th>
                                የተመለሰበት ቀን
                            </th>
                            <th>
                                የፈጀወ ጊዜ
                            </th>
                            <th>
                                የዐቃቢ ህግ ውሳኔ
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.FreelCategory == FreelCategory.ይግባኝአመልካች)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FileNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RecorNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Applicant)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Responder)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Age)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupportType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Doo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.typesofIssue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.apsm)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AddressZone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AddressWoreda)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ExpertName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DoAss)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DoRet)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LOS)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PDecission)
                                    </td>
                                    <td>
                                        <a asp-action="CCFreeLegalServiceFollowup" class="btn btn-circle  text-light btn-sm" asp-route-id="@item.CCFreelServicesId" title="ወደ ፍርድ ቤት"> <i class="fa fa-plus" style="color:green;"></i> </a>
                                        <a asp-action="CCFreeLegalServiceFollowupIndex" class="btn btn-circle  text-light btn-sm" asp-route-id="@item.CCFreelServicesId" title="ወደ ፍርድ ቤት ዝርዝር "> <i class="fa fa-eye" style="color:InfoText;"></i>  </a>
                                        <a asp-action="Delete" asp-route-id="@item.CCFreelServicesId" title="ሰረዝ">  <i class="fa fa-trash" style="color:red;"></i>  </a>
                                    </td>
                                </tr>

                            }

                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="custom-content-below-profile" role="tabpanel" aria-labelledby="custom-content-below-profile-tab">
                <table class="table  table-bordered table-striped" id="example77">
                    <thead>
                        <tr>
                            <th>
                                የዐ/ህ/መ/ቁጥር
                            </th>
                            <th>
                                የፍ/ቤት/መ/ቁጥር
                            </th>
                            <th>
                                ይግባኝ ባይ
                            </th>
                            <th>
                                መልስ ሰጪ
                            </th>
                            <th>
                                ፆታ
                            </th>
                            <th>
                                የዕድሜ ምደብ
                            </th>
                            <th>
                                የድጋፍ አይነት
                            </th>
                            <th>
                                በዐ.ህ.የተ.ቀን
                            </th>
                            <th>
                                የጉዳይ አይነት
                            </th>
                            <th>
                                የገንዘብ መጠን
                            </th>
                            <th>
                                ዞን
                            </th>
                            <th>
                                ወረዳ
                            </th>
                            <th>
                                የተመራለት ባለሙያ
                            </th>
                            <th>
                                የተመራበት ቀን
                            </th>
                            <th>
                                የተመለሰበት ቀን
                            </th>
                            <th>
                                የፈጀወ ጊዜ
                            </th>
                            <th>
                                የዐቃቢ ህግ ውሳኔ
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.FreelCategory == FreelCategory.ይግባኝመልስ)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FileNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RecorNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Applicant)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Responder)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Age)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupportType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Doo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.typesofIssue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.apsm)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AddressZone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AddressWoreda)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ExpertName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DoAss)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DoRet)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LOS)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PDecission)
                                    </td>
                                    <td>
                                        <a asp-action="CCFreeLegalServiceFollowupr" class="btn btn-circle  text-light btn-sm" asp-route-id="@item.CCFreelServicesId" title="ወደ ፍርድ ቤት"> <i class="fa fa-plus" style="color:green;"></i> </a>
                                        <a asp-action="CCFreeLegalServiceFollowuprIndex" class="btn btn-circle  text-light btn-sm" asp-route-id="@item.CCFreelServicesId" title="ወደ ፍርድ ቤት ዝርዝር "> <i class="fa fa-eye" style="color:InfoText;"></i>  </a>
                                        <a asp-action="Deleter" asp-route-id="@item.CCFreelServicesId" title="ሰረዝ">  <i class="fa fa-trash" style="color:red;"></i>  </a>
                                    </td>
                                </tr>

                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>
    

@await Html.PartialAsync("_FreeLaarsCreateModalPartial", new CCFreelServices())
@await Html.PartialAsync("_FreeLaaosCreateModalPartial", new CCFreelServices())

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}