@using ExpertManagmentSystem.Models.CivilCaseModels
@model IEnumerable<ExpertManagmentSystem.Models.CivilCaseModels.CCFreelServices>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">የክልል ተቋማት ዝርዝር ማውጫ</h3>
        <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#addRegionmodals"> <i class="fa fa-plus"></i> አዲስ ጨምር</button>
        @*  <a asp-action="Create" class="btn btn-success float-right btn-circle  text-light btn-sm">አዲስ ቢሮ </a> *@
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        የዐ/ህ/መ/ቁጥር
                    </th>
                    <th>
                        የፍ/ቤት/መ/ቁጥር
                    </th>
                    <th>
                        ይግባኝ ባይ
                    </th>
                    <th>
                        መልስ ሰጪ
                    </th>
                    <th>
                        ፆታ
                    </th>
                    <th>
                        የዕድሜ ምደብ
                    </th>
                    <th>
                        የድጋፍ አይነት 
                    </th>
                    <th>
                       በዐ.ህ.የተ.ቀን
                    </th>
                    <th>
                        የጉዳይ አይነት
                    </th>
                    <th>
                        የገንዘብ መጠን
                    </th>
                    <th>
                        ዞን
                    </th>
                    <th>
                        ወረዳ
                    </th>
                    <th>
                        የተመራለት ባለሙያ
                    </th>
                    <th>
                        የተመራበት ቀን
                    </th>
                    <th>
                       የተመለሰበት ቀን
                    </th>
                    <th>
                       የፈጀወ ጊዜ
                    </th>
                    <th>
                       የዐቃቢ ህግ ውሳኔ
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RecorNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Applicant)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Responder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SupportType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.typesofIssue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.apsm)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddressZone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddressWoreda)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpertName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DoAss)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DoRet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LOS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PDecission)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.CCFreelServicesId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.CCFreelServicesId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.CCFreelServicesId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>



    </div>
</div>




@await Html.PartialAsync("_FreeLaarosCreateModalPartial", new CCFreelServices())

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}