@model ExpertManagmentSystem.Models.Corruption.CO_ProsecutorAppealOrBreak

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CO_ProsecutorAppealOrBreak</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProsecutorNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProsecutorNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupremCourtNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupremCourtNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appellant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appellant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answerer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answerer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cr_Crime_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cr_Crime_Type.Cr_Crime_TypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LowerCourtDecision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LowerCourtDecision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProsecutorComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProsecutorComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Various)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Various)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpertOpinion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpertOpinion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_AppealOrBreak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_AppealOrBreak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectrorsDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectrorsDepartment.SectrorsDepartmentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CO_ProsecutorAppealOrBreakId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
