@using ExpertManagmentSystem.Models.CivilCaseModels
@model IEnumerable<ExpertManagmentSystem.Models.CivilCaseModels.CCFreelServices>

@{
    ViewData["Title"] = "Index";
}
<div class="card card-primary card-outline">
    <div class="card-header">
        <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link Freelaaos active" id="custom-content-below-home-tab" data-toggle="pill" href="#custom-content-below-home" role="tab" aria-controls="custom-content-below-home" aria-selected="true">ነፃ የህግ ድጋፍ ሰበር አመልካች</a>
            </li>
            <li class="nav-item">
                <a class="nav-link Freelaars" id="custom-content-below-profile-tab" data-toggle="pill" href="#custom-content-below-profile" role="tab" aria-controls="custom-content-below-profile" aria-selected="false">ነፃ የህግ ድጋፍ ሰበር ተጠሪ</a>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-success float-right Freelaaos" id="Freelaaos" data-toggle="modal" data-target="#addFreeLabosmodals"> <i class="fa fa-plus"></i> አዲስ ጨምር</button>
                <button type="button" class="btn btn-primary float-right Freelaars" style="display:none;" id="Freelaars" data-toggle="modal" data-target="#addFreeLabrsmodals"> <i class="fa fa-plus"></i> አዲስ ጨምር</button>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="custom-content-below-tabContent">
            <div class="tab-pane fade show active" id="custom-content-below-home" role="tabpanel" aria-labelledby="custom-content-below-home-tab">

                <table class="table  table-bordered table-striped" id="example1">
                    <thead>
                        <tr>
                            <th>
                                የዐ/ህ/መ/ቁጥር
                            </th>
                            <th>
                                የፍ/ቤት/መ/ቁጥር
                            </th>
                            <th>
                                ይግባኝ ባይ
                            </th>
                            <th>
                                መልስ ሰጪ
                            </th>
                            <th>
                                ፆታ
                            </th>
                            <th>
                                የዕድሜ ምደብ
                            </th>
                            <th>
                                የድጋፍ አይነት
                            </th>
                            <th>
                                በዐ.ህ.የተ.ቀን
                            </th>
                            <th>
                                የጉዳይ አይነት
                            </th>
                            <th>
                                የገንዘብ መጠን
                            </th>
                            <th>
                                ዞን
                            </th>
                            <th>
                                ወረዳ
                            </th>
                            <th>
                                የተመራለት ባለሙያ
                            </th>
                            <th>
                                የተመራበት ቀን
                            </th>
                            <th>
                                የተመለሰበት ቀን
                            </th>
                            <th>
                                የፈጀወ ጊዜ
                            </th>
                            <th>
                                የዐቃቢ ህግ ውሳኔ
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.FreelCategory == FreelCategory.ሰበርአመልካች)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FileNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RecorNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Applicant)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Responder)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.age)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupportType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Doo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.typesofIssue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.apsm)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AddressZone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AddressWoreda)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ExpertName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DoAss)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DoRet)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LOS)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PDecission)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" data-toggle="modal" data-target="@("#EditRegionmodals-"+item.CCFreelServicesId)" data-url="@Url.Action($"Edit/{item.CCFreelServicesId}")"><li class="fa fa-edit bg-warning" title="ማስተካከል"></li></a>
                                        @await Html.PartialAsync("_FreeLabosEditModalPartial", item)
                                        <a asp-action="Details" data-toggle="modal" data-target="@("#DetailRegionmodals-"+item.CCFreelServicesId)" data-url="@Url.Action($"Detail/{item.CCFreelServicesId}")"><li class="fa fa-eye bg-info" title="ዝርዝር መረጃ"></li></a>
                                        @await Html.PartialAsync("_FreeLabosEditModalPartial", item)
                                        <a asp-action="Delete" data-toggle="modal" data-target="@("#DeleteRegionmodals-"+item.CCFreelServicesId)" data-url="@Url.Action($"Delete/{item.CCFreelServicesId}")"><li class="fa fa-trash bg-red" title="ይሰረዝ"></li></a>
                                        @await Html.PartialAsync("_FreeLabosEditModalPartial", item)
                                    </td>
                                </tr>

                            }

                        }
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="custom-content-below-profile" role="tabpanel" aria-labelledby="custom-content-below-profile-tab">

                <table id ="example3" class="table  table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                የዐ/ህ/መ/ቁጥር
                            </th>
                            <th>
                                የፍ/ቤት/መ/ቁጥር
                            </th>
                            <th>
                                ይግባኝ ባይ
                            </th>
                            <th>
                                መልስ ሰጪ
                            </th>
                            <th>
                                ፆታ
                            </th>
                            <th>
                                የዕድሜ ምደብ
                            </th>
                            <th>
                                የድጋፍ አይነት
                            </th>
                            <th>
                                በዐ.ህ.የተ.ቀን
                            </th>
                            <th>
                                የጉዳይ አይነት
                            </th>
                            <th>
                                የገንዘብ መጠን
                            </th>
                            <th>
                                ዞን
                            </th>
                            <th>
                                ወረዳ
                            </th>
                            <th>
                                የተመራለት ባለሙያ
                            </th>
                            <th>
                                የተመራበት ቀን
                            </th>
                            <th>
                                የተመለሰበት ቀን
                            </th>
                            <th>
                                የፈጀወ ጊዜ
                            </th>
                            <th>
                                የዐቃቢ ህግ ውሳኔ
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.FreelCategory == FreelCategory.ሰበርተጠሪ)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FileNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RecorNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Applicant)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Responder)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.age)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupportType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Doo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.typesofIssue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.apsm)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AddressZone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AddressWoreda)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ExpertName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DoAss)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DoRet)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LOS)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PDecission)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" data-toggle="modal" data-target="@("#EditRegionmodals-"+item.CCFreelServicesId)" data-url="@Url.Action($"Edit/{item.CCFreelServicesId}")"><li class="fa fa-edit bg-warning" title="ማስተካከል"></li></a>
                                        @await Html.PartialAsync("_FreeLabosEditModalPartial", item)
                                        <a asp-action="Details" data-toggle="modal" data-target="@("#DetailRegionmodals-"+item.CCFreelServicesId)" data-url="@Url.Action($"Detail/{item.CCFreelServicesId}")"><li class="fa fa-eye bg-info" title="ዝርዝር መረጃ"></li></a>
                                        @await Html.PartialAsync("_FreeLabosEditModalPartial", item)
                                        <a asp-action="Delete" data-toggle="modal" data-target="@("#DeleteRegionmodals-"+item.CCFreelServicesId)" data-url="@Url.Action($"Delete/{item.CCFreelServicesId}")"><li class="fa fa-trash bg-red" title="ይሰረዝ"></li></a>
                                        @await Html.PartialAsync("_FreeLabosEditModalPartial", item)
                                    </td>
                                </tr>

                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>


@await Html.PartialAsync("_FreeLabrsCreateModalPartial", new CCFreelServices())
@await Html.PartialAsync("_FreeLabosCreateModalPartial", new CCFreelServices())

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}