@model ContractInvestigation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ContractInvestigation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProsecutorIdentityNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProsecutorIdentityNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contractor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contractor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractReciepient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractReciepient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfContract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfContract)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountPerMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountPerMoney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheInstitutionRequestedForExamination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheInstitutionRequestedForExamination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfTheExpert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfTheExpert)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeTakenToComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeTakenToComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdittedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdittedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>
        <dt class = "col-sm-2">

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
