@model IEnumerable<ContractInvestigation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="ContractDocumentPreparationCreate" class="btn btn-success">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProsecutorIdentityNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contractor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractReciepient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfContract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPerMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheInstitutionRequestedForExamination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfTheExpert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTakenToComplete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProsecutorIdentityNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contractor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractReciepient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfContract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPerMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheInstitutionRequestedForExamination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfTheExpert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTakenToComplete)
            </td>
           
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
