@model ExpertManagmentSystem.Models.EconomyModels.Eco_Crime42A

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Eco_Crime42A</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliceRecordNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliceRecordNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefendenNamet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefendenNamet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cr_Crime_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cr_Crime_Type.Cr_Crime_TypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProsecutorAdmissionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProsecutorAdmissionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProsecutorReturnedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProsecutorReturnedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdmisstionOrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdmisstionOrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Persistant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Persistant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abrogated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abrogated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderedIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderedIssue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnAdmission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnAdmission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NonOrderedIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NonOrderedIssue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectrorsDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectrorsDepartment.SectrorsDepartmentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Eco_Crime42AId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
