@model ExpertManagmentSystem.Models.CrimeModels.Cr_JudicalAppealOpening

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Cr_JudicalAppealOpening</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeninigDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeninigDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcsecuterNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcsecuterNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourtNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourtNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Respondant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Respondant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cr_Crime_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cr_Crime_Type.Cr_Crime_TypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectrorsDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectrorsDepartment.SectrorsDepartmentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cr_JudicalAppealOpeningId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
