@model IEnumerable<ExpertManagmentSystem.Models.Corruption.CO_Petition>

@{
    ViewData["Title"] = "Index";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color:#123456;color:white;">
                        <h5 class="card-title">የአቤቱታ መዝገብ  </h5>
                        <a asp-action="Create" class="btn btn-success float-right" style="color:white;"> አዲስ ጨምር </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RecordNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ComplainantsName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CrimeCommitted)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ComplaintBody)
                                    </th>
                                    
                                    <th>
                                        @Html.DisplayNameFor(model => model.LetterNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LetterDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Zone)
                                    </th>
                                    
                                    <th>
                                        SD
                                        @* @Html.DisplayNameFor(model => model.SectrorsDepartment) *@
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                 @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RecordNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ComplainantsName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CrimeCommitted)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ComplaintBody)
                                        </td>
                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LetterNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LetterDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Zone)
                                        </td>
                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SectrorsDepartment.DepartmentName)
                                        </td>
                                        <td>
                                            <div class="btn btn-outline-light"> @Html.ActionLink(" መድብ", "Create", "CO_PetitionFollowUp", new { id = item.CO_PetitionId }, null)</div>
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.CO_PetitionId">Edit</a> |
                                            
                                            <a asp-action="Details" asp-route-id="@item.CO_PetitionId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.CO_PetitionId">Delete</a>
                                        </td>
                                    </tr>
                                  }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
