@model ExpertManagmentSystem.Models.EconomyModels.Eco_DirectChargeDecission

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Eco_DirectChargeDecission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProsocuterNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProsocuterNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourtNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourtNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefendantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefendantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefendantGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefendantGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefendantAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefendantAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespodentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespodentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespodentGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespodentGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespodentAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespodentAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Woreda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Woreda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdmissionExpert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdmissionExpert)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfWitnesses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfWitnesses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exhibit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exhibit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eco_ProsecutorDecision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eco_ProsecutorDecision.Eco_ProsecutorDecisionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cr_Crime_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cr_Crime_Type.Cr_Crime_TypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectrorsDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectrorsDepartment.SectrorsDepartmentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Eco_DirectChargeDecissionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
