@model ExpertManagmentSystem.Models.CivilCaseModels.CCFreelServices

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CCFreelServices</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecorNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecorNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupportType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupportType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.typesofIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.typesofIssue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountinBirr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountinBirr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressZone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressZone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressWoreda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressWoreda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpertName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpertName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoAss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoAss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoRet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoRet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LOS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LOS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCPDecissionTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCPDecissionTypes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectrorsDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectrorsDepartment.SectrorsDepartmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreelCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreelCategory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CCFreelServicesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
