@model IEnumerable<ExpertManagmentSystem.Models.Corruption.CO_CorruptionCharge>

@{
    ViewData["Title"] = "Index";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color:#123456;color:white;">
                        <h5 class="card-title">ለፍርድ ቤት የቀረቡ የቀጥተኛ ክስ መዝገብ  </h5>
                        <a asp-action="Create" class="btn btn-success float-right" style="color:white;"> አዲስ ጨምር </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example33" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.prosecutorNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.InvestigationNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CourtNo)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.DefendentName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Gender)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Age)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.ApplicantName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ApplicantGender)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ApplicantAge)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Amount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OpeningDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Zone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Woreda)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Kebele)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cr_Crime_Type)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ExpertName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NumberofWitnesses)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Exhibit)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProsecutorsDecision)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DecisionStatus)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SectrorsDepartment)
                                    </th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.prosecutorNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InvestigationNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CourtNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DefendentName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Gender)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Age)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicantName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicantGender)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicantAge)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Amount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OpeningDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Zone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Woreda)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Kebele)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cr_Crime_Type.CrimeTypeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ExpertName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumberofWitnesses)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Exhibit)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProsecutorsDecision.DecisionName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DecisionStatus)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SectrorsDepartment.DepartmentName)
                                        </td>
                                        <td>
                                            <a asp-controller="CO_CorruptionCourtDecision" asp-action="Create" asp-route-id="@item.CO_CorruptionChargeId" title="ፍ/ቤት ውሳኔ">
                                                <i class="fa fa-arrow-right"></i>

                                            </a>
                                            @* <div class="btn btn-outline-light"><i class="fa fa-plus"></i> @Html.ActionLink(" ፍ/ቤት ውሳኔ", "Create", "CO_CorruptionCourtDecision", new { id = item.CO_CorruptionChargeId }, null)</div><i class="fa-duotone fa-arrow-right"></i> *@

                                        </td>
                                        <td>

                                            <a asp-action="Edit" asp-route-id="@item.CO_CorruptionChargeId" title="Edit"> <i class="fa fa-pen"></i></a>
                                        </td>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.CO_CorruptionChargeId" title="Details"> <i class="fa fa-eye"></i></a>
                                        </td>
                                        <td>
                                            <a asp-action="Delete" asp-route-id="@item.CO_CorruptionChargeId" title="Delete"> <i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
