@model ExpertManagmentSystem.Models.Corruption.CO_CorruptionCharge

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CO_CorruptionCharge</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prosecutorNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prosecutorNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigationNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvestigationNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecisionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecisionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefendentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefendentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefendantJob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefendantJob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrimeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrimeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigationApproved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvestigationApproved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectrorsDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectrorsDepartment.SectrorsDepartmentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CO_CorruptionChargeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
