@model IEnumerable<ExpertManagmentSystem.Models.Corruption.CO_CorruptionCharge>

@{
    ViewData["Title"] = "Index";
}
@*
< h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.prosecutorNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestigationNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DecisionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefendentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefendantJob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrimeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestigationApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                SD
                 @Html.DisplayNameFor(model => model.SectrorsDepartment) 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.prosecutorNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvestigationNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DecisionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefendentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefendantJob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrimeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvestigationApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectrorsDepartment.SectrorsDepartmentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CO_CorruptionChargeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CO_CorruptionChargeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CO_CorruptionChargeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color:#123456;color:white;">
                        <h5 class="card-title">የሙስና ክስ መዝገብ  </h5>
                        <a asp-action="Create" class="btn btn-success float-right" style="color:white;"> አዲስ ጨምር </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.prosecutorNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.InvestigationNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DecisionType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DefendentName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Gender)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Amount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DefendantJob)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CrimeType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OpeningDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.InvestigationApproved)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Remark)
                                    </th>
                                    <th>
                                        SD
                                        @* @Html.DisplayNameFor(model => model.SectrorsDepartment) *@
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.prosecutorNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InvestigationNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DecisionType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DefendentName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Gender)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Amount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DefendantJob)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CrimeType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OpeningDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InvestigationApproved)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Remark)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SectrorsDepartment.SectrorsDepartmentId)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.CO_CorruptionChargeId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.CO_CorruptionChargeId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.CO_CorruptionChargeId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

