@model IEnumerable<ExpertManagmentSystem.Models.DocumentModel.Doc_CivilAssosation>

@{
    ViewData["Title"] = "Index";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color:#123456;color:white;">
                        <h5 class="card-title">የሲቪል ማህበራት መረጃ ዝርዝር  </h5>
                        <a asp-action="Create" class="btn btn-success float-right" style="color:white;"> አዲስ ጨምር </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example3" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssosationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.licensedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.licensedUpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecietNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssosationAim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssosationMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisablityStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectrorsDepartment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssosationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.licensedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.licensedUpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecietNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssosationAim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssosationMember)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisablityStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectrorsDepartment.SectrorsDepartmentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CivilLicenseNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CivilLicenseNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CivilLicenseNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>