@model ExpertManagmentSystem.Models.CivilCaseModels.PerformanceChargeFollowUp

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PerformanceChargeFollowUp</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApointmentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApointmentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApointmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApointmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasDecissionMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasDecissionMade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfDecission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfDecission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecidedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecidedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoneyGained)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoneyGained)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProperyClosed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProperyClosed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiffrenetReasons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiffrenetReasons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerformanceChargeOpenning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerformanceChargeOpenning.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdittedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdittedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
