@model ExpertManagmentSystem.Models.Corruption.CO_PetitionFollowUp

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CO_PetitionFollowUp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpertName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpertName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetitionDecision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetitionDecision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComeanEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComeanEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectrorsDepartmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectrorsDepartmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CO_Petition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CO_Petition.CO_PetitionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CO_PetitionFollowUpId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
