@using ExpertManagmentSystem.Models.Corruption
@model IEnumerable<ExpertManagmentSystem.Models.Corruption.CO_FederalAppealOrBreak>

@{
    ViewData["Title"] = "Index";
}

@* <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color:#123456;color:white;">
                        <h5 class="card-title">የፌደራል ይግባኝ መዝገብ  </h5>
                        <a asp-action="Create" class="btn btn-success float-right" style="color:white;"> አዲስ ጨምር </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                             <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProsecutorNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SupremCourtNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CourtNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Appellant)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Answerer)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OpeningDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Gender)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Amount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Appointment)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CrimeType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Remark)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.F_AppealOrBreak)
                                    </th>
                                    <th>
                                        SD
                                        
                                    </th>
                                    <th></th>
                                </tr>
                             </thead>
                             <tbody>
                                @foreach (var item in Model) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProsecutorNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupremCourtNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CourtNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Appellant)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Answerer)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OpeningDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Appointment)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CrimeType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Remark)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.F_AppealOrBreak)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.SectrorsDepartment.DepartmentName)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.CO_FederalAppealId">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.CO_FederalAppealId">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.CO_FederalAppealId">Delete</a>
                                    </td>
                                </tr>
                        }
                             </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section> *@



<div class="card card-primary card-outline">
    <div class="card-header" style="background-color:#123456;color:white;">
        <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link FRbreak active" id="custom-content-below-home-tab" data-toggle="pill" href="#custom-content-below-home" role="tab" aria-controls="custom-content-below-home" aria-selected="true">የፌደራል ሰበር መዝገብ </a>
                
            </li>
            <li class="nav-item">
                <a class="nav-link FRappeal" id="custom-content-below-profile-tab" data-toggle="pill" href="#custom-content-below-profile" role="tab" aria-controls="custom-content-below-profile" aria-selected="false">የፌደራል ይግባኝ መዝገብ</a>
            </li>
            
            <li class="nav-item">
                @* <a asp-action="Create" class="btn btn-success float-right" style="color:white;"> አዲስ ጨምር </a>
                <a asp-action="FederalAppealCreate" class="btn btn-success float-right" style="color:white;"> አዲስ ጨምር </a> *@
                 <button type="button" class="btn btn-success float-right FRappeal" id="FRbreakbtn" data-toggle="modal" data-target="#addFreeLaaosmodals"> <i class="fa fa-plus"></i> አዲስ ጨምር</button>
                <button type="button" class="btn btn-primary float-right FRappeal" style="display:none;" id="FRappealbtn" data-toggle="modal" data-target="#addFreeLaarsmodals"> <i class="fa fa-plus"></i> አዲስ ጨምር</button>
            </li>
        </ul>
    </div>
    @* class="table table-bordered table-striped" *@
    <div class="card-body">
        <div class="tab-content" id="custom-content-below-tabContent">
            <div class="tab-pane fade show active" id="custom-content-below-home" role="tabpanel" aria-labelledby="custom-content-below-home-tab">

                <table class="table  table-bordered table-striped" id="example1">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ProsecutorNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SupremCourtNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CourtNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Appellant)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Answerer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OpeningDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Gender)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Appointment)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CrimeType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Remark)
                            </th>
                            @* <th>
                                @Html.DisplayNameFor(model => model.F_AppealOrBreak)
                            </th> *@
                            <th>
                                SD
                                @* @Html.DisplayNameFor(model => model.SectrorsDepartment) *@
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.F_AppealOrBreak == AppealBreaking.ሰበር)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProsecutorNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupremCourtNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CourtNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Appellant)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Answerer)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OpeningDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Appointment)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CrimeType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Remark)
                                    </td>
                                    @* <td>
                                        @Html.DisplayFor(modelItem => item.F_AppealOrBreak)
                                    </td> *@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SectrorsDepartment.DepartmentName)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.CO_FederalAppealId">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.CO_FederalAppealId">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.CO_FederalAppealId">Delete</a>
                                    </td>
                                </tr>

                            }

                        }
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="custom-content-below-profile" role="tabpanel" aria-labelledby="custom-content-below-profile-tab">

                <table class="table  table-bordered table-striped" id="example2">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ProsecutorNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SupremCourtNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CourtNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Appellant)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Answerer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OpeningDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Gender)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Appointment)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CrimeType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Remark)
                            </th>
                            @* <th>
                                @Html.DisplayNameFor(model => model.F_AppealOrBreak)
                            </th> *@
                            <th>
                                SD
                                @* @Html.DisplayNameFor(model => model.SectrorsDepartment) *@
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.F_AppealOrBreak == AppealBreaking.ይግባኝ)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProsecutorNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupremCourtNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CourtNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Appellant)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Answerer)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OpeningDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Appointment)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CrimeType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Remark)
                                    </td>
                                    @* <td>
                                        @Html.DisplayFor(modelItem => item.F_AppealOrBreak)
                                    </td> *@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SectrorsDepartment.DepartmentName)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.CO_FederalAppealId">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.CO_FederalAppealId">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.CO_FederalAppealId">Delete</a>
                                    </td>
                                </tr>

                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>




