@model ExpertManagmentSystem.Models.CrimeModels.Cr_CrimeFollowUpModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cr_CrimeFollowUpModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cr_ProsecutorComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cr_ProsecutorComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Other)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Other)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhoLawyeCommented)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhoLawyeCommented)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighCourtDecission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighCourtDecission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherCourtDecition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherCourtDecition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhoJudgeCommentedOnDecision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhoJudgeCommentedOnDecision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfFemaleAppellants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfFemaleAppellants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfMaleAppellants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfMaleAppellants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileEndResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileEndResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileIssuedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileIssuedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileReturnedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileReturnedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FederalBreakingRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FederalBreakingRequest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cr_JudicalAppealOpening)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cr_JudicalAppealOpening.Cr_JudicalAppealOpeningId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Cr_CrimeFollowUpModelId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
