@model ExpertManagmentSystem.Models.Corruption.CO_Closed_SentInReverse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CO_Closed_SentInReverse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProsecutorNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProsecutorNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Defenedant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Defenedant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefenedantZone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefenedantZone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpinionGiven)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpinionGiven)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectrorsDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectrorsDepartment.SectrorsDepartmentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CO_Closed_SentInReverseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
