@model IEnumerable<ExpertManagmentSystem.Models.Corruption.CO_Closed_SentInReverse>

@{
    ViewData["Title"] = "Index";
}



<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color:#123456;color:white;">
                        <h5 class="card-title">ከዞን በ42/1/ሀ ተዘግተው በግልባጭ የተላኩ መዝገብ  </h5>
                        <a asp-action="Create" class="btn btn-success float-right" style="color:white;"> አዲስ ጨምር </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProsecutorNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Defenedant)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DefenedantZone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RegisterDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OpinionGiven)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SectrorsDepartment)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProsecutorNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Defenedant)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DefenedantZone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RegisterDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OpinionGiven)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SectrorsDepartment.DepartmentName)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.CO_Closed_SentInReverseId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.CO_Closed_SentInReverseId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.CO_Closed_SentInReverseId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>




@* 
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProsecutorNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defenedant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefenedantZone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpinionGiven)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectrorsDepartment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProsecutorNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defenedant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefenedantZone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpinionGiven)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectrorsDepartment.SectrorsDepartmentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CO_Closed_SentInReverseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CO_Closed_SentInReverseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CO_Closed_SentInReverseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@