@model IEnumerable<ExpertManagmentSystem.Models.CivilCaseModels.LeadingCommandAndAppealNotSupported>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateAppealNotSupported">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProsecutorRecordNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourtRecordNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plaintiff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accused)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeadingCommandAndUnSupportAppeal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPerBirr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPerSquerMetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProsecutorSupportTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressZone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressWoreda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfTheExpert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTakenToComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProsecutorDecission)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProsecutorRecordNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourtRecordNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plaintiff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accused)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadingCommandAndUnSupportAppeal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPerBirr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPerSquerMetter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProsecutorSupportTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressZone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressWoreda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfTheExpert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTakenToComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProsecutorDecission)
            </td>
            <td>

            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-light">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
