@model ExpertManagmentSystem.Models.CivilCaseModels.LeadingCommandAndAppealNotSupported

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LeadingCommandUnAppealNotSupported</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProsecutorRecordNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProsecutorRecordNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourtRecordNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourtRecordNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plaintiff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plaintiff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accused)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accused)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfIssue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeadingCommandAndUnSupportAppeal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeadingCommandAndUnSupportAppeal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountPerBirr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountPerBirr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountPerSquerMetter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountPerSquerMetter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProsecutorSupportTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProsecutorSupportTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressZone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressZone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressWoreda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressWoreda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfTheExpert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfTheExpert)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeTakenToComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeTakenToComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProsecutorDecission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProsecutorDecission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdittedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdittedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
