@using ExpertManagmentSystem.Models.CivilCaseModels
@model IEnumerable<ExpertManagmentSystem.Models.CivilCaseModels.CCPetition>




<div class="card">
    <div class="card-header">
        <h3 class="card-title"> አቤቱታዝርዝር ማውጫ</h3>
        <button type="button" class="btn btn-success float-right CCPetition" id="CCPetition" data-toggle="modal" data-target="#addCCPetitionmodals"> <i class="fa fa-plus"></i> አዲስ ጨምር</button>
        @* <a asp-action="Create" class="btn btn-success float-right btn-circle  text-light btn-sm">አዲስ ቢሮ </a> *@
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PeFileNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pevicerequester)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PeGender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PeAge)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PeSupportType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PeDoariv)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PeTypes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PeAddressZone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PeAddressWoreda)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PeExpertName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PeDaos)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PeDoare)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PeTimeTaken)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CCPeDecissionTypes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PeAssignto)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeFileNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pevicerequester)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeGender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeAge)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeSupportType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeDoariv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeTypes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeAddressZone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeAddressWoreda)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeExpertName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeDaos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeDoare)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeTimeTaken)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CCPeDecissionTypes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeAssignto)
                        </td>
                        <td>
                            @* <a asp-action="Edit" asp-route-id="@item.CCPetitionId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CCPetitionId">Details</a> | *@
                            <a asp-action="Delete" asp-route-id="@item.CCPetitionId" title="ሰረዝ">  <i class="fa fa-trash" style="color:red;"></i>  </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_CcPetCreateModalPartial", new CCPetition())

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}